server {
        listen {{ http_port }};
        listen [::]:{{ http_port }};

        root /var/www/{{ hostname }};
        index index.html index.htm;

        server_name {{ hostname }} www.{{ hostname }};

        location / {
            try_files $uri $uri/ =404;
        }
}