<VirtualHost *:{{ http_port }}>
    ServerName {{ http_host }}
    ServerAlias www.{{ http_host }}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ http_host }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
