<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ hostname }}
    ServerAlias www.{{ hostname }}
    DocumentRoot /var/www/{{ hostname }}/wordpress
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ hostname }}>
          AllowOverride All
    </Directory>

</VirtualHost>
